body {
    min-height: 100vh;
    background: linear-gradient(180deg, #FFF 75%, #FFF8F8 100%);
    font-family: Arial;
    background-position: calc(100% + 150px) calc(100% + 50px);
    background-size: 450px;
    padding: 20px;
  }

  h1 {
    color: black;
    border-bottom: 5px solid;
    padding: 20px;
    margin-top: 0px;
    font-size: 3em;
    font-weight: 100;
  }

  label {
    margin: 20px;
    color: black;
  }

  input {
    display: block;
    font-family: "Courier New";
    font-size: 2em;
    padding: 10px;
    font-weight: 100;
    border: 3px solid black;
    margin: 20px;
    background-color: #e6d7ff;
    width: calc(100% - 65px);
  }

  #encrypted {
    border-color: black;
    background-color: #161c20;
    color: #03A062;
  }

  .mainContainer {
    max-width: 1000px;
    margin: 0 auto;
  }

  hr {
    border: 1px solid black;
    margin: 50px 0px;
  }